.sidebarCats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 0;
}

.sidebarCat {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
}

.sidebarCat:hover {
  cursor: pointer;
}
